---
layout: default
---
<section class="description">
  <div class="row">
    <div class="jumbotron">
      <h2>{{site.title}}</h2>
      <p>{{site.description}}</p>
      {% if site.data.installation.latest %}
        <p><a class="btn btn-primary btn-lg" href="{{ site.data.install.latest | prepend: site.baseurl }}"  id="install-latest" role="button">Install Latest Build</a></p>
      {% endif %}
      <p class="muted" style="font-size:14px;">
        Currently v{{site.version}}
      </p>
    </div>
  </div>
</section>
{% if site.motto %}
  <section class="motto">
    <div class="text-center">
      <h4>{{ site.motto }}</h4>
    </div>
  </section>
  <hr>
{% endif %}
{% if site.data.features %}
  <section class="features">
    <div class="features-title">
      <h4>Features</h4>
      <p>Built on top of great technology.</p>
    </div>
    <div class="row text-center">
      {% for feature in site.data.features %}
        <div class="col-sm-{{ feature.col_size }}">
          <i class="fa fa-{{ feature.icon }} fa-3x fa-fw"></i>
          <h4>{{ feature.title }}</h4>
          <p>{{ feature.description }}</p>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
<hr>
{% if site.demo %}
  <section class="demo" style="padding:25px;">
    <div class="text-center">
      <h4>Demo.</h4>
      <p>{{ site.demo.description }}</p>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="{{ site.demo }}" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  <hr>
{% endif %}
<section class="examples" style="padding:50px;">
  <div class="text-center">
    <h4>Commands</h4>
    <p>There are several commands which you will use to interact with your application:</p>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="list-group">
        <a href="{{ '/docs#migrations' | prepend: site.baseurl }}" class="list-group-item">
          <h4 class="list-group-item-heading">Migration</h4>
          <p class="list-group-item-text">Easily modify and share the application's database schema.</p>
        </a>
        <a href="{{ '/docs#generators' | prepend: site.baseurl }}" class="list-group-item">
          <h4 class="list-group-item-heading">Generators</h4>
          <p class="list-group-item-text">Rapidly speed up your Codeigniter workflow.</p>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="contribute">
  <div class="row well text-center" style="padding:50px;">
    <h4>Contribute</h4>
    <p>It would be appreciate if developers join the project, check how you can help.</p>
    <div class="row" style="margin-top:40px;">
      <div class="col-sm-4 col-sm-offset-2">
        <a target="_blank" href="{{ site.issues | append: '/new' | prepend: site.baseurl | prepend: site.url }}" class="btn btn-default btn-block btn-lg">Open an issue</a>
      </div>
      <div class="col-sm-3 hide">
        <button type="button" class="btn btn-default btn-block btn-lg">Shout a tweet</button>
      </div>
      <div class="col-sm-4">
        <a href="{{ '/pulls' | prepend: site.baseurl | prepend: site.url }}" class="btn btn-default btn-block btn-lg">Create a pull request</a>
      </div>
      <div class="col-sm-4 hide">
        <a href="{{ '/docs#create-command' | prepend: site.baseurl }}" class="btn btn-default btn-block btn-lg">Create a command</a>
      </div>      
    </div>
  </div>
</section>