<header>
	<nav class="navbar navbar-doc">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars" aria-hidden="true"></i>
				</button>
				<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.github.project_title }}</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-navbar-collapse">
				<ul class="nav navbar-nav hide">
					<li><a href="#">Link</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ site.github.repository_url }}">Github</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>